<div class="page is-flex-grow-1 is-flex is-flex-direction-column">
  <% let count = 0 %>
  <script>const perPagePosts = <%= theme.per_page_posts %></script>
  <div class="is-flex-grow-1" style="width: 100%; margin-bottom: 24px">
    <% site.pages.filter(function(page) { 
      return page.path.startsWith('projects/') && !page.path.endsWith('/index.html');
    }).each(function(page) { %>
    <div class="box" style="display: <%= ++count > theme.per_page_posts ? 'none' : '' %>">
      <article class="columns">
        <div class="column is-narrow">
          <figure class="image is-128x128" style="margin: 0 auto;">
            <img src="<%- url_for(page.image) %>" alt="<%= page.title %>">
          </figure>
        </div>
        <div class="column is-flex is-flex-direction-column is-justify-content-space-between">
          <div class="content mb-2">
            <a href="<%= page.path.replace('projects/', '') %>" class="has-text-weight-semibold is-size-6 is-capitalized">
              <%= page.title %>
            </a>
            <p>
              <%= page.desc %>
            </p>
          </div>
          <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
            <ul>
              <% if (page.type) { %>
                <li>
                  <a class="has-text-black">
                    <span class="icon is-small">
                      <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span><%= page.type %></span>
                  </a>
                </li>
              <% } %>
              <% if (page.status) { %>
              <li>
                <a class="has-text-black">
                  <span class="icon is-small">
                    <i class="fas fa-tasks"></i>
                  </span>
                  <span><%= page.status %></span>
                </a>
              </li>
              <% } %>
              <% if (page.start) { %>
              <li>
                <a class="has-text-black">
                  <span class="icon is-small">
                    <i class="fas fa-calendar-check"></i>
                  </span>
                  <span><%= page.start %></span>
                </a>
              </li>
              <% } %>
              <% if (page.end) { %>
              <li>
                <a class="has-text-black">
                  <span class="icon is-small">
                    <i class="fas fa-calendar-times"></i>
                  </span>
                  <span><%= page.end %></span>
                </a>
              </li>
              <% } %>
              <% if (page.link) { %>
              <li>
                <a href="<%= page.link %>">
                  <span class="icon is-small">
                    <i class="fas fa-link"></i>
                  </span>
                  <span><%= page.link %></span>
                </a>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
      </article>
    </div>
    <% }) %>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous button is-rounded is-hidden-mobile is-disabled" style="display: <%= count ? '' : 'none' %>">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span> 
    </a>
    <a class="pagination-next button is-rounded is-hidden-mobile <%= count > theme.per_page_posts ? '' : 'is-disabled' %>" style="display: <%= count ? '' : 'none' %>">
      <span class="icon">
        <i class="fas fa-chevron-right"></i>
      </span>
    </a>
    <ul class="pagination-list">
      <% for (let i = 1; i <= Math.ceil(count / theme.per_page_posts); i++) { %>
        <li>
          <a class="pagination-link <%= i === 1 ? 'is-current' : '' %>" aria-label="Goto page <%= i %>"><%= i %></a>  
        </li>
      <% } %>
    </ul>
  </nav>
</div>